@using Microsoft.AspNetCore.Mvc.Rendering
@model BalanceWebApp.Model.Views.Transactions.IndexViewModel

@{
    ViewData["Title"] = "Transactions";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>
        
        <p>
            Account Number: @Model.AccountNumber
            <br>
            Name: @Model.AccountName
        </p>

        @if (Model.Message != null)
        {
            <div class="alert alert-danger content-separator">
                @Model.Message
            </div>
        }

        <form method="post">
            @Html.AntiForgeryToken()
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="start">Start</label>
                    @Html.TextBoxFor(model => model.Start, "{0:yyyy-MM-dd}", new {@class = "form-control", @placeholder = "Start", @name = "start", @type="date"})
                    @Html.ValidationMessageFor(model => model.Start, string.Empty, new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    <label for="start">End</label>
                    @Html.TextBoxFor(model => model.End, "{0:yyyy-MM-dd}", new {@class = "form-control", @placeholder = "End", @name = "end", @type="date"})
                    @Html.ValidationMessageFor(model => model.End, string.Empty, new {@class = "text-danger"})
                </div>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Get Transactions" />
        </form>
        
        
        <table class="table table-striped table-bordered content-separator">
            <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Date</th>
                <th>Currency</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>
                        <a href="/balance/accounts/@item.AccountId/transactions/@item.Id"><img src="/assets/img/svg/pencil.svg" alt="pencil" class="img-edit"></a>
                        <a href="/balance/accounts/@item.AccountId/transactions/@item.Id/delete"><img src="/assets/img/svg/trash.svg" alt="pencil" class="img-edit img-margin-left"></a>
                    </td>
                    <td>@item.TransactionType</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Currency</td>
                    <td>@item.Amount.ToString("N")</td>
                </tr>
            }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-controller="Transaction" asp-action="New">New</a>
        <a class="btn" asp-controller="Account" asp-action="Index">Accounts</a>

    </div>
</div>