@using Microsoft.AspNetCore.Mvc.Rendering

@model BalanceWebApp.Model.Views.AccountTypes.IndexViewModel

@{
    ViewData["Title"] = "Account Types";
}

<div class="row">
    <div class="col-md-12">
        <h3>@ViewData["Title"]</h3>

        <!-- <form method="post">
            <div class="form-group">
                <label for="url">URL</label>
                <input type="text" name="url" placeholder="URL" class="form-control" value="" />
            </div>

            <input type="submit" class="btn btn-primary" value="Capture URL" />
        </form> -->

        @if (Model.Message != null)
        {
            <div class="alert alert-danger content-separator">
                @Model.Message
            </div>
        }

        <table class="table table-striped content-separator">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AccountTypes)
                {
                    <tr>
                        <td><a href="/account-types/@item.Id">@item.Name</a></td>
@*                        <td>@Html.ActionLink(@item.Name, "Load", "AccountType")</td>*@
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary" asp-controller="AccountType" asp-action="New">New</a>

    </div>
</div>